[snips-common]
bus = "mqtt"
mqtt = "192.168.2.101:1883"
site_id = "snipsdoorbell"
audio = ["snipsdoorbell@mqtt" , "snipshome@mqtt"]
assistant = "/usr/share/snips/assistant"
user_dir = "/usr/share/snips"
locale = "fr-FR"
## MQTT authentication
# mqtt_username = ""
# mqtt_password = ""

## MQTT TLS configuration
# mqtt_tls_hostname = ""
# mqtt_tls_disable_root_store = false
# mqtt_tls_cafile = ""
# mqtt_tls_capath = ""
# mqtt_tls_client_cert = ""
# mqtt_tls_client_key = ""

[snips-analytics]

[snips-asr]
# no_fst_map = true
# beam_size = 8
# model = "/usr/share/snips/asr"
audio = ["snipsdoorbell@mqtt" , "snipshome@mqtt"]

[snips-asr-google]
# credentials = "/usr/share/snips/googlecredentials.json"
# audio = ["+@mqtt"]

[snips-audio-server]
# frame = 256
bind = "snipsdoorbell@mqtt"
mike = "rpi"
# disable_playback = false

[snips-dialogue]
# resources = "/usr/share/snips/dialogue"
# session_timeout = 15
# lambda_timeout = 5
retry_count = 1
sound_feedback_disabled_default = true

[snips-hotword]
# model = "/usr/share/snips/hotword"
# hotword_id = "default"
# sensitivity = "0.5"
audio = ["snipshome@mqtt"]

[snips-injection]
#asr_model = "/usr/share/snips/asr"
#nlu_engine = "/usr/share/snips/nlu_engine"
#keep_nfirst = 3

[snips-nlu]

[snips-tts]
## Choose one tts provider (defaults to picotts)
# provider = "picotts"
# provider = "makerstts"
provider = "customtts"
## customtts specific configuration
## available placeholder variables : %%OUTPUT_FILE%%, %%LANG%%, %%TEXT%%
##  espeak -vmb-fr1 -p30 -s 130 "ceci est un test de prononciation fransaise"
customtts = { command = ["espeak", "-vmb-fr1", "-p30", "-s130", "-w%%OUTPUT_FILE%%", "%%TEXT%%"] }

[snips-audio-player]
audio_out = "rpi"
bitrate = 16000
periodsize = 1600
channels = 1
bandwith = 200000
# Debug 0 or 1
debug = 0
record_path = "/usr/share/snips/records"


# doorbell config

[snips-doorbell]
button_gpio_bcm = 17

#how many try to call user at home
retry_ask_home = 3
#how many time to wait user at home
timer_ask_home = 60
#max record time
timer_record = 30

mqtt_homestation = "snipshome"
mqtt_topic_presence = "home/presence"
mqtt_payload_presence = "Yes"
mqtt_topic_message = "home/message"


say_welcome_present = "Bonjours, Un instant, j'appel monsieur dupon."
say_welcome_nopresent = "Bonjours, Je suis absent. Voulez vous laisser un message ?"
say_no_reply = "Il ne répond pas. Voulez vous laisser un message ?"
say_wait_more = "Un instant sil vous plait. Il va vous répondre."
say_start_message = "j'écoute"
say_thanks = "Merci, je lui transmet."
say_goobye = "Aurevoir"

say_incomming = "Quelqu'un sonne a la porte"
say_incomming_service = " sonne a la porte"
say_somebodywait = "Quelqu'un attend a la porte"

say_no_message = "Il n'y a pas de messages"
say_xxx_messages = "Il y a XXX messages."
say_message_xxx = "Message XXX"



